name: build

# Controls when the action will run
on:

  # Trigger the workflow on all pushes, except on tag creation
  push:
   branches:
   - '**'
   tags-ignore:
   - '**'

  # Trigger the workflow on all pull requests
  pull_request: ~

  # Allow workflow to be dispatched on demand
  workflow_dispatch: ~

env:
  ECRAD_TOOLS: ${{ github.workspace }}/.github/tools
  CTEST_PARALLEL_LEVEL: 1
  CACHE_SUFFIX: v1        # Increase to force new cache to be created

jobs:
  ci:
    name: ci

    strategy:
      fail-fast: false    # false: try to complete all jobs

      matrix:
        build_type: [Release,Bit,Debug]
        name:
          - linux gnu-12
          - linux nvhpc-24.3
          - linux intel-classic
          - linux intel-llvm

        include:

          - name: linux gnu-12
            os: ubuntu-22.04
            compiler: gnu-12
            compiler_cc: gcc-12
            compiler_cxx: g++-12
            compiler_fc: gfortran-12
            caching: true

          - name: linux nvhpc-24.3
            os: ubuntu-22.04
            compiler: nvhpc-24.3
            compiler_cc: nvc
            compiler_cxx: nvc++
            compiler_fc: nvfortran
            caching: true
            # caching: false

          - name : linux intel-classic
            os: ubuntu-22.04
            compiler: intel-classic
            compiler_cc: icc
            compiler_cxx: icpc
            compiler_fc: ifort
            caching: true

          - name : linux intel-llvm
            os: ubuntu-24.04
            compiler: intel-llvm
            compiler_cc: icx
            compiler_cxx: icpx
            compiler_fc: ifx
            caching: true

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Environment
      run:  |
        echo "DEPS_DIR=${{ runner.temp }}/deps" >> $GITHUB_ENV
        echo "CC=${{ matrix.compiler_cc }}"     >> $GITHUB_ENV
        echo "CXX=${{ matrix.compiler_cxx }}"   >> $GITHUB_ENV
        echo "FC=${{ matrix.compiler_fc }}"     >> $GITHUB_ENV

        if [[ "${{ matrix.os }}" =~ macos ]]; then
          brew install ninja
        else
          sudo apt-get update
          sudo apt-get install ninja-build libcurl4-openssl-dev
        fi

        printenv

    - name: Cache Dependencies
      if: matrix.caching
      id: deps-cache
      uses: actions/cache@v4
      with:
        path: ${{ env.DEPS_DIR }}
        key: deps-${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}-${{ env.CACHE_SUFFIX }}

    # Free up disk space for nvhpc
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      if: contains( matrix.compiler, 'nvhpc' )
      continue-on-error: true
      with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: false

        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Install NVHPC compiler
      if: contains( matrix.compiler, 'nvhpc' )
      shell: bash -eux {0}
      run: |
        ${ECRAD_TOOLS}/install-nvhpc.sh --prefix /opt/nvhpc --version 24.3
        source /opt/nvhpc/env.sh
        echo "${NVHPC_DIR}/compilers/bin" >> $GITHUB_PATH
        echo "NVHPC_ROOT=${NVHPC_DIR}" >> $GITHUB_ENV

    - name: Install Intel Classic compiler
      if: contains( matrix.compiler, 'intel-classic' )
      run: |
        ${ECRAD_TOOLS}/install-intel-classic.sh
        source /opt/intel/oneapi/setvars.sh
        printenv >> $GITHUB_ENV
        echo "CACHE_SUFFIX=$CC-$($CC -dumpversion)" >> $GITHUB_ENV

    - name: Install Intel LLVM compiler
      if: contains( matrix.compiler, 'intel-llvm' )
      run: |
        ${ECRAD_TOOLS}/install-intel-llvm.sh
        source /opt/intel/oneapi/setvars.sh
        printenv >> $GITHUB_ENV
        echo "CACHE_SUFFIX=$CC-$($CC -dumpversion)" >> $GITHUB_ENV

    - name: Install HDF5
      run: |
        if [[ -f ${{ env.DEPS_DIR }}/hdf5/lib/libhdf5.settings ]]; then
          echo "::debug::HDF5 restored from cache"
        else
          ${ECRAD_TOOLS}/install-hdf5.sh --prefix ${{ env.DEPS_DIR }}/hdf5
        fi
        echo "HDF5_ROOT=${{ env.DEPS_DIR }}/hdf5" >> $GITHUB_ENV

    - name: Install NetCDF C
      run: |
        if [[ -f ${{ env.DEPS_DIR }}/netcdf/bin/nc-config ]]; then
          echo "::debug::NetCDF C restored from cache"
        else
          ${ECRAD_TOOLS}/install-netcdf-c.sh --prefix ${{ env.DEPS_DIR }}/netcdf --hdf5-root ${HDF5_ROOT}
        fi
        echo "NETCDF_ROOT=${{ env.DEPS_DIR }}/netcdf" >> $GITHUB_ENV

    - name: Install NetCDF Fortran
      run: |
        if [[ -f ${NETCDF_ROOT}/bin/nf-config ]]; then
          echo "::debug::NetCDF Fortran restored from cache"
        else
          ${ECRAD_TOOLS}/install-netcdf-fortran.sh --prefix ${{ env.DEPS_DIR }}/netcdf --netcdf-root ${NETCDF_ROOT}
        fi

    - name: Build & Test
      id: build-test
      uses: ecmwf-actions/build-package@v2
      with:
        self_coverage: false
        force_build: true
        cache_suffix: "${{ matrix.build_type }}-${{ env.CACHE_SUFFIX }}"
        recreate_cache: ${{ matrix.caching == false }}
        dependencies: |
          ecmwf/ecbuild
          ecmwf-ifs/fiat
        dependency_branch: develop
        dependency_cmake_options: |
          ecmwf-ifs/fiat: "-G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DENABLE_TESTS=OFF"
        cmake_options:    "-G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} ${{ matrix.cmake_options }} -DENABLE_SINGLE_PRECISION=ON -DENABLE_BITIDENTITY_TESTING=ON"
        ctest_options: "${{ matrix.ctest_options }}"

  make:
    name: Makefile build

    strategy:
      fail-fast: false    # false: try to complete all jobs

      matrix:
        name:
          - linux gnu

        include:

          - name: linux gnu
            os: ubuntu-24.04
            profile: gfortran

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libnetcdff-dev nco

    - name: Build & Test
      run: |
        make PROFILE=${{ matrix.profile }} -j
        make test PROFILE=${{ matrix.profile }}
